.card {
  flex-shrink: 0;         /* Empêche les cartes de rétrécir */
  flex-grow: 0;           /* Empêche les cartes de grandir */
  flex-basis: 14vw;      /* Largeur de base pour chaque carte, ajuste selon le contenu et la disposition */
  margin-right: 10px;     /* Marge à droite pour séparer les cartes */
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 5px;     /* Coins légèrement arrondis pour les cartes */
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  aspect-ratio: 5 / 7;    /* Maintient un ratio largeur/hauteur de 5:7, typique des cartes de poker */
}

  .card-content {
    font-size: 4vw; /* Ajustez cette valeur en fonction de la taille de la police souhaitée */
    font-weight: bold;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }